.posts {
    margin: 4px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    border-radius: 4px;
    padding: 16px;
    background-color: #4a4e62;
}

.card-header {
    color: white;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.card-separator {
    height: 1px;
    width: 90%;
    align-self: center;
    background-color: #eeeef0;
    margin: 8px auto;
}

.card-content {
    color: #eee;
}
